/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Fredoka', sans-serif;
}

a {
  color: #3ab1e2;
  text-decoration: none;
}



/*? ## UTILS */

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}


/* todo === CONTAINER === */

.container {
  margin: 0 auto;
  max-width: 90%;
  padding: 0 1rem;
}


/* todo === HEADER === */

header {
  text-align: center;
}

.header-title {
  margin-top: 1rem;
  color: deeppink;
}

.header-subtitle {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.f-left {
  float: left;
}


/* todo === MAIN === */

.row {
  margin: 0 -1rem;
}

.col_1-6 {
  width: calc(100% / 3);
  padding: 1rem;
}

.card {
  background-color: black;
  height: 130px;
  color: white;
  box-shadow: 0 0 8px 1px #666;
}

.card-img {
  height: 100%;
}

.card h2 {
  line-height: 35px;
}

.card-info {
  height: 100%;
  padding: 1rem;
  line-height: 30px;
}

