/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fredoka', sans-serif;
}

a {
  color: #3ab1e2;
  text-decoration: none;
}


/*? ## UTILS */


.clearfix::after {
  content: '';
  display: block;
  clear: both;
}


/* todo === HEADER === */

header {
  text-align: center;
  padding: 1rem;
  margin: 0 auto;
  max-width: 90%;
  /* background-color: rgb(218, 59, 133); */
}

header h1 {
  margin-top: 1rem;
  color: deeppink;
}

header p {
  margin-top: 2rem;
}


/* todo === MAIN === */


.container {
  margin: 1rem auto;
  max-width: 90%;
  /* background-color: grey; */
}

.row {
  padding: -1rem;
}

.col_1-6 {
  width: calc(100% / 3);
  float: left;
  padding: 1rem;
}

.card {
  background-color: black;
  height: 130px;
  color: white;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  padding: 1rem;
}

img {
  height: 100%;
  float: left;
}
